<script setup lang="ts">
import { computed, ref } from 'vue';
interface Todo{
    id:number
    text: string
    done: boolean
}

let id = 0
const newTodo = ref('')
const num1 =ref(0)
const num2 =ref(0)
const hideCompleted =ref(false)
const todos = ref<Todo[]>([
  { id: id++, text: 'Learn HTML',done: true },
  { id: id++, text: 'Learn JavaScript',done: true },
  { id: id++, text: 'Learn Vue',done: false }
])
const filteredTodos = computed(()=> {
    if(hideCompleted.value){
        return todos.value.filter((t) => !t.done)
    }else{
        return todos.value  
    }
  
})
function addTodo() {
    todos.value.push({ id: id++,text: newTodo.value,done: false})
    newTodo.value = ''
}
function removeTodo(todo: {
    id: number; 
    text: string; 
    done:boolean
}){
    todos.value = todos.value.filter((t)=> t !==todo)
}
</script>

<template>
    <div>{{ todos }}</div>
    <div>{{ newTodo }}</div>
    <form @submit.prevent="addTodo">
    <input type="text" v-model="newTodo" />
    <button >add todo</button>
    </form>
    <ul>
        <li v-for="todo in filteredTodos" :key="todo.id" :class="{ done: todo.done }">
        <input type="checkbox" v-model="todo.done">{{ todo.text }}
        <button @click="removeTodo(todo)">X</button>
  
</li>
    </ul>
    <button @click="hideCompleted = !hideCompleted">
    {{ hideCompleted ? 'Hide Complete' :'Show All' }}</button>
</template>
<style scoped>
.done {
    text-decoration: line-through;
}
</style>
